<div class = "forgeoflegends item-card" uuid="{{item.uuid}}">
    <h1 class='item-header flex-group'><img src="{{item.img}}" class='inline-icon'> {{item.name}}</h1>
    <hr>
    <span class='item-tags'>
        {{#unless item.system.isPassive}}
            {{#if item.system.defense}}
                {{plusSign item.system.defense}}
            {{/if}}
            <img src="assets/images/icons/{{item.system.defenseType}}.png" class='inline-icon'> {{item.system.defenseType}}
        {{/unless}}
        {{#if item.system.isRanged}}🎯 Ranged: <span title="{{item.system.range}} + {{actor.system.cunning}}">{{sum item.system.range actor.system.cunning}}</span>{{/if}}
        {{#if item.system.isMelee}}✋🏽 Melee{{/if}}
        {{#if item.system.isUtility}}⚙️ Utility{{/if}}
        {{#if item.system.isAttack}}⚔️ Attack{{/if}}
        {{item.system.type}}
        {{#if item.system.tags.length}}📜{{#each item.system.tags}} {{this}}{{/each}}
        {{/if}}
    </span>

    {{!-- {{#if item.system.isReaction}}
        <hr><strong>Trigger: </strong>{{{item.system.trigger}}}
    {{/if}} --}}

    {{#if item.system.effect}}
        <hr>{{{item.system.effect}}} 
        {{!-- <hr><strong>Effect: </strong>--}}
    {{/if}}

    {{#if actor.system.speed}}
        {{#if item.system.isManeuver}}
            {{#unless item.system.isSlow}}
                <ul><li>Move up to <strong>{{actor.system.speed}}</strong> space(s).</li></ul>
            {{/unless}}
        {{/if}}
    {{/if}}

    {{#if item.system.isAttack}}
        <hr><strong>Threat: <span title="{{item.system.threat}} + {{actor.system.agility}}">{{sum item.system.threat actor.system.agility}}</span> /</strong>
        {{#if item.system.diceNumber}}Deal {{item.system.diceNumber}}d{{item.system.diceSize}} {{#if actor.system.brawn}}{{#if item.system.isMelee}}+ {{actor.system.brawn}} {{/if}}{{/if}}{{item.system.damageType}} damage. {{/if}}{{{item.system.yield}}}
    {{/if}}

    {{#if item.system.isAction}}
        <ul>
            {{#each item.system.criticals as |tag|}}
                {{#each tag}}
                    {{#if this}}
                        <li><span class="tag-name keyword" data-path="skills/{{@key}}">{{@key}}</span> <span class = "keyword" data-path="skills/critical">Critical</span>: {{{this}}}</li>
                    {{/if}}
                {{/each}}
            {{/each}}
        </ul>
    {{/if}}

    {{#if item.system.description}}
        <hr>
        <div class = "flavor-text">
            {{{item.system.description}}}
        </div>
    {{/if}}
</div>