<li class="item grid-item" data-index="{{index}}" data-slot="{{slot}}" data-document-id= "{{item._id}}" data-uuid="{{item.uuid}}" data-actor-uuid="{{actor.uuid}}">
    <img class= "item-image" src="{{item.img}}"/>
    <div class="item-name">{{{item.name}}}</div>
</li>