<li class="effect grid-item {{#unless effect.origin}}keyword{{/unless}}" data-document-id= "{{effect._id}}" data-uuid="{{effect.uuid}}" data-path="{{effect.flags.core.statusId}}">
    <img class= "item-image" src="{{effect.icon}}"/>
    <div class="item-name">{{effect.label}}{{#unless hideSource}}<br>{{effect.sourceName}}{{/unless}}</div>
</li>